nav{
    width: 10%;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: #FFFF;
    font-weight: bolder;
    padding: 3px
}

nav a:hover{
    color: #5e5c5c;
}

.active{
    background-color: #000000;
}